<article class="container-fluid">
    <h3 class="page-header">
        <b>Price Lists</b>
    </h3>
    <div class="col-md-4">
        <div class="funkyradio">
            <div class="funkyradio-danger">
                <input type="checkbox" name="checkbox" id="checkbox1" />
                <label for="checkbox1">Price List 1</label>
            </div>
            <div class="funkyradio-danger">
                <input type="checkbox" name="checkbox" id="checkbox2" />
                <label for="checkbox2">Price List 2</label>
            </div>
            <div class="funkyradio-danger">
                <input type="checkbox" name="checkbox" id="checkbox3" />
                <label for="checkbox3">Price List 3</label>
            </div>
            <div class="funkyradio-danger">
                <input type="checkbox" name="checkbox" id="checkbox4" />
                <label for="checkbox4">Price List 4</label>
            </div>
        </div>
    </div>
</article>