<div class="step02ProductList">

    <h3 ng-if="step2.products.length > 0" class="page-header">
        {{step2.products.length > 1 ? 'Products' : 'Product'}} <!--<button class="btn btn-primary addToCatalog" ng-click="step2.addToCatalog()">Add Selected Products<br>To My Catalog</button>-->
    </h3>
        <div class="row">
            <div class="col-md-12">

                <div class="category-wrap">
                    <h4>Industry</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="funkyradio subcategory-header">
                                <div class="funkyradio-danger">
                                    <input type="checkbox" name="checkbox" id="checkbox1" checked/>
                                    <label for="checkbox1"><h5>Warehouse</h5></label>
                                </div>
                            </div>
                            <div class="funkyradio product-wrap">
                                <div class="funkyradio-danger row">
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox2" checked/>
                                        <label for="checkbox2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/3d5e8bb2c66d44abae6c2f6267996325.jpg">
                                                    <span class="product-descrip">202 Men's 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox3" checked/>
                                        <label for="checkbox3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/944efdb1c2dc4417a30031ceab335771.jpg">
                                                    <span class="product-descrip">2412 Men's 8-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox4" checked/>
                                        <label for="checkbox4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ac1e52449a3a4641a589fd885d98067e.jpg">
                                                    <span class="product-descrip">401 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox5" checked/>
                                        <label for="checkbox5">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/fa80254c1af54781839c5f9d6093ad06.jpg">
                                                    <span class="product-descrip">400 Men's 8-Inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox6" checked/>
                                        <label for="checkbox6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ae5507fa30e74f9898cb24647060b96a.jpg">
                                                    <span class="product-descrip">218 Men's 9-inch Logger Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox7" checked/>
                                        <label for="checkbox7">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/4eb210c063c8446e9340517cff36985a.jpg">
                                                    <span class="product-descrip">2373 Women's 5-inch Hiker Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox8" checked/>
                                        <label for="checkbox8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/80c9e747e9ab41039e2a6c4050844ee0.jpg">
                                                    <span class="product-descrip">1698 Women's 9-inch Logger-Lineman</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox9" checked/>
                                        <label for="checkbox9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/62c8615d70944b9090f30abaea7b2359.jpg">
                                                    <span class="product-descrip">4489 Men's 10-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox10" checked/>
                                        <label for="checkbox10">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/2c18a1f0f649487c8919e92ef59ac164.jpg">
                                                    <span class="product-descrip">971 Men's 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox11" checked/>
                                        <label for="checkbox11">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/d31d4a2f44764e2d87665a92bd5c0659.jpg">
                                                    <span class="product-descrip">Warehouse Kit</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox12" checked/>
                                        <label for="checkbox12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/20f7df2edbbc45b4b3bbdbf87dd695e5.jpg">
                                                    <span class="product-descrip">60100 DESERT/TROPICAL FR COVERALL</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox13" checked/>
                                        <label for="checkbox13">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ab46da5a65fc4fcfa9260a6d15637ef7.gif">
                                                    <span class="product-descrip">860132 WAREHOUSE GLOVES</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="funkyradio subcategory-header">
                                <div class="funkyradio-danger">
                                    <input type="checkbox" name="checkbox" id="checkbox14" checked/>
                                    <label for="checkbox14"><h5>Construction</h5></label>
                                </div>
                            </div>
                            <div class="funkyradio product-wrap">
                                <div class="funkyradio-danger row">
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox15" checked/>
                                        <label for="checkbox15">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/3d5e8bb2c66d44abae6c2f6267996325.jpg">
                                                    <span class="product-descrip">202 Men's 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox16" checked/>
                                        <label for="checkbox16">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/944efdb1c2dc4417a30031ceab335771.jpg">
                                                    <span class="product-descrip">2412 Men's 8-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox22" checked/>
                                        <label for="checkbox22">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/62c8615d70944b9090f30abaea7b2359.jpg">
                                                    <span class="product-descrip">4489 Men's 10-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox21" checked/>
                                        <label for="checkbox21">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/80c9e747e9ab41039e2a6c4050844ee0.jpg">
                                                    <span class="product-descrip">1698 Women's 9-inch Logger-Lineman</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox20" checked/>
                                        <label for="checkbox20">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/4eb210c063c8446e9340517cff36985a.jpg">
                                                    <span class="product-descrip">2373 Women's 5-inch Hiker Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox19" checked/>
                                        <label for="checkbox19">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ae5507fa30e74f9898cb24647060b96a.jpg">
                                                    <span class="product-descrip">218 Men's 9-inch Logger Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox18" checked/>
                                        <label for="checkbox18">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/fa80254c1af54781839c5f9d6093ad06.jpg">
                                                    <span class="product-descrip">400 Men's 8-Inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox17" checked/>
                                        <label for="checkbox17">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ac1e52449a3a4641a589fd885d98067e.jpg">
                                                    <span class="product-descrip">401 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox23" checked/>
                                        <label for="checkbox23">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/2c18a1f0f649487c8919e92ef59ac164.jpg">
                                                    <span class="product-descrip">971 Men's 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="funkyradio subcategory-header">
                                <div class="funkyradio-danger">
                                    <input type="checkbox" name="checkbox" id="checkbox24" checked/>
                                    <label for="checkbox24"><h5>In-Store</h5></label>
                                </div>
                            </div>
                            <div class="funkyradio product-wrap">
                                <div class="funkyradio-danger row">
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox25" checked/>
                                        <label for="checkbox25">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/0dd33541e1ae4cf8bb82f457074ffbc1.jpg">
                                                    <span class="product-descrip">107 Men's Oxford</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox26" checked/>
                                        <label for="checkbox26">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/e0d45ee826c743e6b5706296b15deedf.jpg">
                                                    <span class="product-descrip">595 Men's Chukka</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox27" checked/>
                                        <label for="checkbox27">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ac1e52449a3a4641a589fd885d98067e.jpg">
                                                    <span class="product-descrip">401 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox28" checked/>
                                        <label for="checkbox28">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/fa80254c1af54781839c5f9d6093ad06.jpg">
                                                    <span class="product-descrip">400 Men's 8-Inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox29" checked/>
                                        <label for="checkbox29">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ae5507fa30e74f9898cb24647060b96a.jpg">
                                                    <span class="product-descrip">218 Men's 9-inch Logger Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox30" checked/>
                                        <label for="checkbox30">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/62c8615d70944b9090f30abaea7b2359.jpg">
                                                    <span class="product-descrip">4489 Men's 10-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox31" checked/>
                                        <label for="checkbox31">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/2c18a1f0f649487c8919e92ef59ac164.jpg">
                                                    <span class="product-descrip">971 Men's 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="category-wrap">
                    <h4>Work Environment</h4>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="funkyradio subcategory-header">
                                <div class="funkyradio-danger">
                                    <input type="checkbox" name="checkbox" id="checkbox32" checked/>
                                    <label for="checkbox32"><h5>Dry</h5></label>
                                </div>
                            </div>
                            <div class="funkyradio product-wrap">
                                <div class="funkyradio-danger row">

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox33" checked/>
                                        <label for="checkbox33">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/20f7df2edbbc45b4b3bbdbf87dd695e5.jpg">
                                                    <span class="product-descrip">60100 DESERT/TROPICAL FR COVERALL</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox34" checked/>
                                        <label for="checkbox34">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ab46da5a65fc4fcfa9260a6d15637ef7.gif">
                                                    <span class="product-descrip">860132 WAREHOUSE GLOVES</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox35" checked/>
                                        <label for="checkbox35">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/e0d45ee826c743e6b5706296b15deedf.jpg">
                                                    <span class="product-descrip">595 Men's Chukka</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox36" checked/>
                                        <label for="checkbox36">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/4eb210c063c8446e9340517cff36985a.jpg">
                                                    <span class="product-descrip">2373 Women's 5-inch Hiker Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox37" checked/>
                                        <label for="checkbox37">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/80c9e747e9ab41039e2a6c4050844ee0.jpg">
                                                    <span class="product-descrip">1698 Women's 9-inch Logger-Lineman</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox38" checked/>
                                        <label for="checkbox38">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/62c8615d70944b9090f30abaea7b2359.jpg">
                                                    <span class="product-descrip">4489 Men's 10-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox39" checked/>
                                        <label for="checkbox39">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/2c18a1f0f649487c8919e92ef59ac164.jpg">
                                                    <span class="product-descrip">971 Men's 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="funkyradio subcategory-header">
                                <div class="funkyradio-danger">
                                    <input type="checkbox" name="checkbox" id="checkbox40" checked/>
                                    <label for="checkbox40"><h5>Cold</h5></label>
                                </div>
                            </div>
                            <div class="funkyradio product-wrap">
                                <div class="funkyradio-danger row">

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox41" checked/>
                                        <label for="checkbox41">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/3d5e8bb2c66d44abae6c2f6267996325.jpg">
                                                    <span class="product-descrip">202 Men's 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox42" checked/>
                                        <label for="checkbox42">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ac1e52449a3a4641a589fd885d98067e.jpg">
                                                    <span class="product-descrip">401 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox43" checked/>
                                        <label for="checkbox43">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/fa80254c1af54781839c5f9d6093ad06.jpg">
                                                    <span class="product-descrip">400 Men's 8-Inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox44" checked/>
                                        <label for="checkbox44">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ae5507fa30e74f9898cb24647060b96a.jpg">
                                                    <span class="product-descrip">218 Men's 9-inch Logger Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox45" checked/>
                                        <label for="checkbox45">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/4eb210c063c8446e9340517cff36985a.jpg">
                                                    <span class="product-descrip">2373 Women's 5-inch Hiker Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox46" checked/>
                                        <label for="checkbox46">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/80c9e747e9ab41039e2a6c4050844ee0.jpg">
                                                    <span class="product-descrip">1698 Women's 9-inch Logger-Lineman</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox47" checked/>
                                        <label for="checkbox47">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/2c18a1f0f649487c8919e92ef59ac164.jpg">
                                                    <span class="product-descrip">971 Men's 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="funkyradio subcategory-header">
                                <div class="funkyradio-danger">
                                    <input type="checkbox" name="checkbox" id="checkbox48" checked/>
                                    <label for="checkbox48"><h5>Cement Surfaces</h5></label>
                                </div>
                            </div>
                            <div class="funkyradio product-wrap">
                                <div class="funkyradio-danger row">

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox49" checked/>
                                        <label for="checkbox49">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/20f7df2edbbc45b4b3bbdbf87dd695e5.jpg">
                                                    <span class="product-descrip">60100 DESERT/TROPICAL FR COVERALL</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox50" checked/>
                                        <label for="checkbox50">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ab46da5a65fc4fcfa9260a6d15637ef7.gif">
                                                    <span class="product-descrip">860132 WAREHOUSE GLOVES</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox51" checked/>
                                        <label for="checkbox51">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/e0d45ee826c743e6b5706296b15deedf.jpg">
                                                    <span class="product-descrip">595 Men's Chukka</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox52" checked/>
                                        <label for="checkbox52">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ac1e52449a3a4641a589fd885d98067e.jpg">
                                                    <span class="product-descrip">401 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox53" checked/>
                                        <label for="checkbox53">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/ae5507fa30e74f9898cb24647060b96a.jpg">
                                                    <span class="product-descrip">218 Men's 9-inch Logger Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox54" checked/>
                                        <label for="checkbox54">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/4eb210c063c8446e9340517cff36985a.jpg">
                                                    <span class="product-descrip">2373 Women's 5-inch Hiker Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox55" checked/>
                                        <label for="checkbox55">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/80c9e747e9ab41039e2a6c4050844ee0.jpg">
                                                    <span class="product-descrip">1698 Women's 9-inch Logger-Lineman</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox56" checked/>
                                        <label for="checkbox56">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/62c8615d70944b9090f30abaea7b2359.jpg">
                                                    <span class="product-descrip">4489 Men's 10-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" name="checkbox" id="checkbox57" checked/>
                                        <label for="checkbox57">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/2c18a1f0f649487c8919e92ef59ac164.jpg">
                                                    <span class="product-descrip">971 Men's 6-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
<!--    <div class="product-list row">
        <div class="col-md-3" ng-repeat="product in step2.products" ng-class="{selected: product.selected}" ng-click="step2.toggleSelection(product)" >
            <div class="product-item">
                <h3 class="item-name">{{product.Name || product.ID}}</h3>
                <p class="item-id" ng-if="product.Name">{{product.ID}}</p>
                <div class="thumbnail-image">
                    <span class="fa-stack fa-5x" ng-if="!product.xp.image" >
                        <i class="fa fa-camera fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <div ng-if="product.xp.image" class="selectedImages">
                        <img class="img-responsive" ng-src="{{product.xp.image.URL}}" alt="Product Image">
                    </div>
                </div>
                <div class="item-price"><p>{{product.StandardPriceSchedule.PriceBreaks[0].Price | currency}} x
                    {{product.StandardPriceSchedule.PriceBreaks[0].Quantity}}</p></div>
                <div class="item-description" ng-if="product.Description"><p>{{product.Description}}</p></div>
            </div>
        </div>
    </div>-->
</div>

