<article class="container-fluid">
    <h3 class="page-header">
        <b>Price Lists</b>
    </h3>
    <div class="row">
        <div class="col-md-4">
            <div class="funkyradio">
                <div class="funkyradio-danger">
                    <input type="checkbox" name="checkbox" id="checkbox1" />
                    <label for="checkbox1">Tier A</label>
                </div>
                <div class="funkyradio-danger">
                    <input type="checkbox" name="checkbox" id="checkbox2" />
                    <label for="checkbox2">Tier B</label>
                </div>
                <div class="funkyradio-danger">
                    <input type="checkbox" name="checkbox" id="checkbox3" />
                    <label for="checkbox3">Tier C</label>
                </div>
                <div class="funkyradio-danger">
                    <input type="checkbox" name="checkbox" id="checkbox4" />
                    <label for="checkbox4">Tier D</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="button-container">
                <div class="form-group pull-right">
                    <button class="btn btn-default" ui-sref=".buyers.templates.buyers" type="button">Cancel</button>
                    <button class="btn btn-primary" ui-sref="buyers.create.step05" type="button" ng-disabled="BuyerEditForm.$invalid">Continue</button>
                </div>
            </div>
        </div>
    </div>
</article>