<div class="step02ProductList">

    <h3 ng-if="step2.products.length > 0" class="page-header">
        {{step2.products.length > 1 ? 'Products' : 'Product'}} <!--<button class="btn btn-primary addToCatalog" ng-click="step2.addToCatalog()">Add Selected Products<br>To My Catalog</button>-->
    </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="category-wrap">
                    <h3>Industry</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Warehouse</h4>
                            <div class="funkyradio product-wrap">
                                <div class="funkyradio-danger row">
                                    <div class="col-md-3">
                                        <input type="checkbox" name="checkbox" id="checkbox1" checked/>
                                        <label for="checkbox1">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/b54b9e16798941d79f00d1b6dc14071f.jpg">
                                                    <span class="product-descrip">2322 Women's Slip-On</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="checkbox" name="checkbox" id="checkbox2" checked/>
                                        <label for="checkbox2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/3d5e8bb2c66d44abae6c2f6267996325.jpg">
                                                    <span class="product-descrip">2322 Women's Slip-On</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="checkbox" name="checkbox" id="checkbox3" checked/>
                                        <label for="checkbox3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="./src/assets/images/products/944efdb1c2dc4417a30031ceab335771.jpg">
                                                    <span class="product-descrip">2412 Men's 8-inch Boot</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--    <div class="product-list row">
        <div class="col-md-3" ng-repeat="product in step2.products" ng-class="{selected: product.selected}" ng-click="step2.toggleSelection(product)" >
            <div class="product-item">
                <h3 class="item-name">{{product.Name || product.ID}}</h3>
                <p class="item-id" ng-if="product.Name">{{product.ID}}</p>
                <div class="thumbnail-image">
                    <span class="fa-stack fa-5x" ng-if="!product.xp.image" >
                        <i class="fa fa-camera fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <div ng-if="product.xp.image" class="selectedImages">
                        <img class="img-responsive" ng-src="{{product.xp.image.URL}}" alt="Product Image">
                    </div>
                </div>
                <div class="item-price"><p>{{product.StandardPriceSchedule.PriceBreaks[0].Price | currency}} x
                    {{product.StandardPriceSchedule.PriceBreaks[0].Quantity}}</p></div>
                <div class="item-description" ng-if="product.Description"><p>{{product.Description}}</p></div>
            </div>
        </div>
    </div>-->
</div>

