<article class="container-fluid">
    <h3 class="page-header">
        <b>Deploy</b>
    </h3>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h5>Microsite Name:</h5>
                <span class="info-confirm">Dakota Electric</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h5>URL:</h5>
                <span class="info-confirm">dakotaelectric.four51ordercloud.com/redwing</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h5>Logo:</h5>
                <img class="buyer-logo" src="./src/assets/images/dakotaelectric.jpg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="button-container">
                <div class="form-group pull-right">
                    <button class="btn btn-default" ui-sref=".buyers.templates.buyers" type="button">Cancel</button>
                    <a class="btn btn-primary" href="https://dakotaelectric.four51ordercloud.com/redwing" target="_blank" type="button">Confirm & Deploy</a>
                </div>
            </div>
        </div>
    </div>
</article>