<div class="step02ProductList">

    <h3 ng-if="step2.products.length > 0" class="page-header">
        {{step2.products.length > 1 ? 'Products' : 'Product'}} <button class="btn btn-primary addToCatalog" ng-click="step2.addToCatalog()">Add Selected Products<br>To My Catalog</button>
    </h3>
    <div class="product-list row">
        <div class="col-md-3" ng-repeat="product in step2.products" >
            <div class="product-item">
                <h3 class="item-name">{{product.Name || product.ID}}</h3>
                <p class="item-id" ng-if="product.Name">{{product.ID}}</p>
                <div class="thumbnail-image">
                    <span class="fa-stack fa-5x" ng-if="!product.xp.image">
                        <i class="fa fa-camera fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <div ng-if="product.xp.image" class="selectedImages" ng-click="step2.toggleSelection($index)">
                        <img class="img-responsive" ng-src="{{product.xp.image.URL}}" alt="Product Image">
                    </div>
                </div>
                <div class="item-price"><p>{{product.StandardPriceSchedule.PriceBreaks[0].Price | currency}} x
                    {{product.StandardPriceSchedule.PriceBreaks[0].Quantity}}</p></div>
                <div ng-class="{selected: step2.selected[$index] != null, unselected: selected[$index] == null}" ng-click="step2.toggleSelection($index)" class="item-description" ng-if="product.Description"><p>{{product.Description}}</p></div>
            </div>
        </div>
    </div>
</div>

