<article class="container-fluid">
    <h3>
        <b>Create New Microsite</b>
    </h3>

    <!-- the links to our nested states using relative paths -->
    <!-- add the active class if the state matches our ui-sref -->
    <div class="status-buttons">
        <a ui-sref-active="active" ui-sref=".step01"><span>1</span> Branding</a>
        <a ui-sref-active="active" ui-sref=".step02"><span>2</span> Products</a>
        <a ui-sref-active="active" ui-sref=".step03"><span>3</span> Users</a>
        <a ui-sref-active="active" ui-sref=".step04"><span>4</span> Prices Lists</a>
        <a ui-sref-active="active" ui-sref=".step05"><span>5</span> Payment Methods</a>
        <a ui-sref-active="active" ui-sref=".step06"><span>6</span> Deploy</a>
    </div>

    <div id="site-wizard" ui-view></div>
</article>