<article class="container-fluid">
    <h3 class="page-header">
        <b>Payment Methods</b>
    </h3>
    <div class="col-md-4">
        <div class="col-md-6">
            <div class="funkyradio">
                <div class="funkyradio-danger">
                    <input type="checkbox" name="checkbox" id="checkbox1" checked/>
                    <label for="checkbox1">Credit Card</label>
                </div>
                <div class="funkyradio-danger">
                    <input type="checkbox" name="checkbox" id="checkbox2" checked/>
                    <label for="checkbox2">Invoice</label>
                </div>
            </div>
        </div>
    </div>
</article>