<article class="container-fluid">
    <h3 class="page-header">
        <b>Price Lists</b>
    </h3>
    <div class="col-md-4">
        <div class="funkyradio">
            <div class="funkyradio-danger">
                <input type="checkbox" name="checkbox" id="checkbox1" checked/>
                <label for="checkbox1">Tier 1</label>
            </div>
            <div class="funkyradio-danger">
                <input type="checkbox" name="checkbox" id="checkbox2" checked/>
                <label for="checkbox2">Tier 2</label>
            </div>
            <div class="funkyradio-danger">
                <input type="checkbox" name="checkbox" id="checkbox3" checked/>
                <label for="checkbox3">Tier 3</label>
            </div>
            <div class="funkyradio-danger">
                <input type="checkbox" name="checkbox" id="checkbox4" checked/>
                <label for="checkbox4">Tier 4</label>
            </div>
        </div>
    </div>
</article>