<div class="category-wrap">
    <h4>Work Environment</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="funkyradio subcategory-header">
                <div class="funkyradio-danger">
                    <input type="checkbox" name="checkbox" id="checkbox32" checked/>
                    <label for="checkbox32"><h5>Dry</h5></label>
                </div>
            </div>
            <div class="funkyradio product-wrap">
                <div class="funkyradio-danger row">

                    <div class="col-md-2">
                        <input type="checkbox" name="checkbox" id="checkbox33" checked/>
                        <label for="checkbox33">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="./src/assets/images/products/20f7df2edbbc45b4b3bbdbf87dd695e5.jpg">
                                    <span class="product-descrip">60100 DESERT/TROPICAL FR COVERALL</span>
                                </div>
                            </div>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" name="checkbox" id="checkbox34" checked/>
                        <label for="checkbox34">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="./src/assets/images/products/ab46da5a65fc4fcfa9260a6d15637ef7.gif">
                                    <span class="product-descrip">860132 WAREHOUSE GLOVES</span>
                                </div>
                            </div>
                        </label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" name="checkbox" id="checkbox35" checked/>
                        <label for="checkbox35">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="./src/assets/images/products/e0d45ee826c743e6b5706296b15deedf.jpg">
                                    <span class="product-descrip">595 Men's Chukka</span>
                                </div>
                            </div>
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
