.buyer-logo {
  max-width: 200px;
}

.status-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: @dashboard-leftnav-bg;
  border-radius: @border-radius-base;

  a {
    flex: 1;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid @dashboard-leftnav-border;
    text-align: center;

    &:last-child {
      border-right: none;
    }

    &:hover {
      text-decoration: none;
    }

    &.active {
      color: @brand-primary;

      span {
        background: @brand-primary;
      }
    }
  }

  span {
    color: #fff;
    background: #000;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
  }
}

.table-fixed-header .table-container {
  max-height: none;
}

.btn-success {
margin-top: -5px;
}

//Funky radio selector styles
.funkyradio {
  div {
    clear: both;
    overflow: hidden;
  }

  label {
    width: 100%;
    border-radius: @border-radius-base;
    border: 1px solid #D1D3D4;
    font-weight: normal;
  }

  input {
    &[type="checkbox"] {
      &:empty {
        display: none;

        & ~ label {
          position: relative;
          line-height: 2.5em;
          text-indent: 3.25em;
          margin-top: 2em;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
          }
        }
      }

      &:hover {
        &:not {
          &(:checked) {
            & ~ label {
              color: #888;

              &:before {
                content: '\2714';
                text-indent: .9em;
                color: #C2C2C2;
              }
            }
          }
        }
      }

      &:checked {
        & ~ label {
          color: #777;

          &:before {
            content: '\2714';
            text-indent: .9em;
            color: #333;
            background-color: #ccc;
          }
        }
      }
    }
  }

  &-danger {
    input {
      &[type="checkbox"] {
        &:checked {
          & ~ label {
            &:before {
              color: #fff;
              background-color: #DC1D3B;
            }
          }
        }
      }
    }
  }
}

//Step 02: Products
.selected {
  border: 1px;
  color:red;
}

.unselected {
  //dickbutt
  //moredickbutt
}

.addToCatalog {
  float:right;
  padding-right:20px;
  position:relative;
  bottom:25px;
}